---
import {Github, Linkedin, Twitter} from 'lucide-react'
import { format } from 'date-fns';

interface Frontmatter {
  title: string;
  description: string;
	date: string;
	languageKey: string;
	languageLink: string;
	socialImage: string;
	slug: string
}

export async function getStaticPaths() {
  const enPosts = await Astro.glob<Frontmatter>('./en/**/*.md')
  const ptBrPosts = await Astro.glob<Frontmatter>('./pt-br/**/*.md')
  
  return [
    {params: {lang: 'en'}, props: {posts: enPosts}},
    {params: {lang: 'pt-br'}, props: {posts: ptBrPosts}},
  ];
}

const { posts } = Astro.props;

const sortedPosts = [...posts].sort((prevPost, nextPost) => {
  return new Date(nextPost.frontmatter.date).getTime() > new Date(prevPost.frontmatter.date).getTime() 
    ? 1 
    : -1;
})

---

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="bg-white text-black  dark:bg-black dark:text-white font-roboto px-10 md:px-0 mx-auto my-0 flex gap-4 flex-col w-auto md:w-min">
  <div class="text-sm flex flex-row gap-1 mt-28 mb-10 items-center w-full flex-wrap">
    <a href="https://github.com/dielduarte" target="_blank" rel="noopener" aria-label="visit my github" class="hover:underline">
      Github
    </a>
    <span class="mx-2">-</span>
    <a href="https://www.linkedin.com/in/dielduarte/" target="_blank" rel="noopener" aria-label="visit my linkedin" class="hover:underline">
      Linkedin
    </a>
    <span class="mx-2">-</span>
    <a href="https://twitter.com/diel_duarte" target="_blank" rel="noopener" aria-label="visit my twitter" class="hover:underline">
      Twitter
    </a>
    <span class="mx-2">-</span>
    <a href="mailto:magdiel.kesller@gmail.com" class="hover:underline">email me</a>
  </div>

  <h1 class="text-xl p-0">Blog</h1>

  <div class="flex gap-2 mb-8 text-sm">
    <a href="/blog/pt-br" aria-label="portuguese version" class="hover:underline">
      pt-br
    </a>
    <span class="mx-2">-</span>
    <a href="/blog/en" aria-label="english version" class="hover:underline">
      en
    </a>
  </div>

  <nav class="flex flex-col gap-2 text-left max-w-2xl">
    {sortedPosts.map(post =>
      <a href={`/blog/${post.frontmatter.slug}/`} class="text-md hover:opacity-75 block overflow-hidden text-ellipsis whitespace-nowrap">
          {format(new Date(post.frontmatter.date), 'yyyy/MM')} <span class="mx-2">-</span> <span class="underline">{post.frontmatter.title}</span>
      </a>)}
  </nav>
</body>
</html>
