---
import ScrollCounter from '../../components/ScrollCounter.astro';

interface Frontmatter {
  title: string;
  description: string;
	date: string;
	languageKey: string;
	languageLink: string;
	socialImage: string;
	slug: string
}

export async function getStaticPaths() {
  const enPosts = await Astro.glob<Frontmatter>('./en/**/*.md')
  const ptBrPosts = await Astro.glob<Frontmatter>('./pt-br/**/*.md')
  
  return [
    {params: {lang: 'en'}, props: {posts: enPosts}},
    {params: {lang: 'pt-br'}, props: {posts: ptBrPosts}},
  ];
}

const { posts } = Astro.props;

---

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="bg-black flex w-screen text-white justify-center flex-col items-center pt-20 font-pressStart">
  <h1 class="text-center text-2xl">DIEL </br> DUARTE</h1>
  <p class="text-xs text-center mt-9 mb-9 max-w-md px-10 md:px-0">Staff Frontend engineer with 10 years of experience, Open source lover and Javascript enthusiastic.</p>
  
  <section class="pb-10 w-screen flex justify-center gap-10 flex-col items-center">
    <h2 class="text-lg">Blog</h2>
    <nav class="flex flex-col gap-2 text-left max-w-lg w-screen px-10 md:px-0">
      {posts.map(post =>
        <a href={`/blog/${post.frontmatter.slug}/`} class="border-b border-white first:border-t pt-4 pb-6">
          <h3 class="text-xs">
            {post.frontmatter.title}
          </h3>
          <p class="font-roboto text-xs truncate mt-1">
            {post.frontmatter.description}
          </p>
        </a>)}
    </nav>
  </section>
  <ScrollCounter />
</body>

</html>
