:root {
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--black);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.hide {
  display: none;
}

.active {
  display: block;
  animation: fadeIn 0.2s ease-out forwards !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes floating {
  0% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(inherit);
  }
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scallingOff {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
