---
import ScrollCounter from '../components/ScrollCounter.astro';
const {frontmatter} = Astro.props
---

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="bg-black flex w-full text-white justify-center flex-col items-center pt-20 font-pressStart">  
  <h1>{frontmatter.title}</h1>
  <slot />
  <ScrollCounter />
</body>

</html>
